body {
    margin-left: 25%;
    margin-right: 25%;
}

h1 {
    font-size: xx-large;
}

#scrittoda {
    margin-top: -3%;
    color: grey;
}

#booleaner {
    color: dodgerblue;
}

img {
    width: 49%;
    height: 300px;
    margin-top: 20px;
}

#indice {
    font-size: xx-small;
}

#evidenziato {
    background-color: yellow;
}

div {
    font-size: 13px;
}

ul {
    padding-left: 15px;
    margin: 0;
    font-size: 13px;
}